*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100vw;
    height: 100vw;
    background-color: lightgray
}
.hotel_container{
    width: 100vw;
    height: 20vw;
    margin-top: 2vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}
.food_container,#movie_container,#product_container{
     width: 100vw;
    height: 27vw;
    margin-top: 2vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}
.heading{
    text-align: center;
    font-size: 4vw;
    background-color: orange;
    color: white;
}
#hotel,#food,#Movie_cards,#product_cards{
    width: 100%;
    height: 100%;
    border: 3px solid black;
}
#Movie_cards{
    margin-top: 2vw;
}